
<div style="display:table;">
    <div style="display:table-row;">
        <div style="display:table-cell;" >
            <i class='fas fa-eye' style='font-size:24px'></i>             
            <label for="NoOfCasualLeaves" class="form-label">Choose the date you want leaves until: </label>
        </div>
            <input type="date" class="form-control" id="NoOfCasualLeaves" style="display:table-cell" />
    </div>
</div>


<script>
    function ApplyCasualLeaves(){
        let leavesTillDate = document.getElementById('NoOfCasualLeaves').value
        $.ajax{(
            url:"SendLeavesRequest"
            method:"POST"
            data:
            {
                leavesTillDate : leavesTillDate
            }
            success:function(res)
            {
                if(res){
                    alert('Your request to apply for CASUAL LEAVES has been submitted to your manager. Please send your respective manager a mail fot the same as well')
                }
                else{
                    alert('You dont have enough casual leaves left. Please choose appropriate no. of leaves to be applied.')
                }
            }
            fail:function(res)
            {

            }
        )}
    }
</script>