@model Employee_leave_system.Models.EmployeeRegistration
@{
    Layout = null;
}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@*below is jquery for UI. for the usage of datepciker*@
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
@*below is CSS file LIBRARY*@
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'rel='stylesheet'>




<div style="background-color:lavender">
    <div style="padding-top:5%;padding-bottom:5%;">
        <div style="display:table;background-color:antiquewhite;margin:auto">
            <div class="form-group" style="display:table-row">
                <div style="display:table-cell;padding-top:2em;padding-left:1em">
                    <label class="mb-3" for="LeaveType">Please choose the type of leave you want to apply:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    <select onchange='GetLeaveType()' class="form-select form-select-md mb-3" aria-label=".form-select-md" id="LeaveType" required>
                        <option selected>Select Type</option>
                        <option value="casualLeaves">Casual Leaves</option>
                        <option value="sickLeaves">Sick Leaves</option>
                        <option value="patternityLeaves">Patternity Leaves</option>
                        <option value="matternityLeaves">Matternity Leaves</option>                   
                    </select>
                </div>
            </div>
            <div class="form-group" style="display:table-row">
                <div style="display:table-cell;padding-left:1em">
                    <label class="mb-3" for="LeaveReason">Reason for Leave:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    <textarea class="form-control form-control-md mb-3" aria-label=".form-select-md" id="LeaveReason" rows="5" required></textarea>    
                </div>
            </div>
            <div class="form-group" style="display:table-row">
                <div style="display:table-cell;padding-left:1em">
                    <label>Available Balance:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    <input onchange = IfAvailableBalanceIsZero(this) id="AvailableBalance" class="form-control form-control-md mb-3" type="number" aria-label=".form-control-md example" required disabled >
                </div>
            </div>

            <div class="form-group" style="display:table-row">
                <div style="display:table-cell;padding-left:1em">
                    <label>From Date:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    <input onchange='CountLeavesTaken()' id="FromDate" class="form-control form-control-md mb-3" type="text" aria-label=".form-control-md example" required readonly >
                </div>
            </div>

            <div class="form-group" style="display:table-row">
                <div style="display:table-cell;padding-left:1em">
                    <label>To Date:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    <input onchange='CountLeavesTaken()' id="ToDate" class="form-control form-control-md mb-3" type="text" aria-label=".form-control-md example" required readonly>
                </div>
            </div>

            <div class="form-group" style="display:table-row">
                <div style="display:table-cell;padding-left:1em">
                    <label>Leave Count Requested:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    <input id="LeaveCountDisplay" class="form-control form-control-md mb-3" type="number" aria-label=".form-control-md example"  disabled >
                </div>
            </div>


            <div class="form-group" style="display:none" id="1DayLeaveType">
                <div style="display:table-cell;padding-top:2em;padding-left:1em">
                    <label class="mb-3" for="LeaveType">Please choose the type of leave you want to apply:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    @*<select class="form-select form-select-md mb-3" aria-label=".form-select-md"  >
                        <option selected>Select Type of 1 day leave</option>
                        <option value="FullDay">Full Day Leave</option>
                        <option value="HalfLeave">Half Day leave</option>                                     
                    </select>*@
                    <input value="Full Day Leave" id="1DayLeaveType" class="form-control form-control-md mb-3" type="text" aria-label=".form-control-md example"  disabled >
                </div>
            </div>

            <div class="form-group" style="display:table-row">
                <div style="display:table-cell;padding-left:1em">
                    <label>Return to Date:</label>
                </div>
                <div style="display:table-cell;padding-right:10px">
                    <input id="ReturnToDate" class="form-control form-control-lg mb-3" type="text" aria-label=".form-control-lg example" required disabled >
                </div>
            </div>



            <div style="text-align:center">
                <button id ="SubmitLeavesBtn" type="button" onclick=SubmitLeaveReq() class="btn btn-primary" style="width:max-content">Apply Leave</button>
                <button id = "CancelLeavesBtn" type="button" onclick=CancelApplyLeaves() class="btn btn-primary" style="width:max-content;">Cancel</button>
            </div>
        </div>
    </div>
</div>




<script>
    var empDetails = {};
    var availableLeaves;
    function GetLeaveType(){
        let leaveType = document.getElementById('LeaveType').value
        if(leaveType=="casualLeaves"){
            availableLeaves = empDetails.casualLeaves           
        }
        else if(leaveType=="sickLeaves"){
            availableLeaves = empDetails.sickLeaves        
        }
        else if(leaveType=="patternityLeaves"){
            availableLeaves = empDetails.patternityLeaves
        }
        else if(leaveType=="matternityLeaves"){
            availableLeaves = empDetails.matternityLeaves
        }
        else{
            availableLeaves = ""
        }
        document.getElementById('AvailableBalance').value = availableLeaves
        if(availableLeaves==0){
            document.getElementById('FromDate').disabled = true;
            document.getElementById('ToDate').disabled = true;
        }
        else{
            document.getElementById('FromDate').disabled = false;
            document.getElementById('ToDate').disabled = false;
        }
    }


    function ShowAvailableLeaveType(){       
        $.ajax({
            url:"GetAvailableLeaves",
            method:"GET",
            data:
            {                            
                            
            },
            success: function(res)
            {
                empDetails = res
                
            },
            fail: function(res)
            {
                       
            },
        })      
    }

    //this ready function loads on page load
    $(document).ready(function() {
        ShowAvailableLeaveType();
            $(function() {
                $( "#FromDate" ).datepicker(
                    {
                        dateFormat: 'dd-mm-yy',
                        //defaultDate:new Date(),
                        minDate:new Date()
                        
                    }
                );
                $( "#ToDate" ).datepicker(
                    {
                        dateFormat: 'dd-mm-yy',
                        //defaultDate:new Date(),
                        minDate:new Date()
                    }
                );
            });
        })

    function CountLeavesTaken()
    {        
        let fromDate = $("#FromDate").datepicker('getDate')
        let toDate = $("#ToDate").datepicker('getDate')
        
        
        if(fromDate!=null && toDate!=null){
            let fromDt = document.getElementById('FromDate').value
            let toDt = document.getElementById('ToDate').value
            //fromDate instanceof Date;
            //toDate instanceof Date;
            //let fromDateGetDate = fromDate.getDate();
            //let toDateGetDate = toDate.getDate();
            //let fromDateGetMonth = fromDate.getMonth();
            //let toDateGetMonth = toDate.getMonth();
            //let fromDateGetYear = fromDate.getFullYear();
            //let toDateGetYear = toDate.getFullYear();

            //let fromDateString = fromDateGetDate+"-"+fromDateGetMonth+"-"+fromDateGetYear
            //let toDateString = toDateGetDate+"-"+toDateGetMonth+"-"+toDateGetYear
            //fromDateString instanceof Date;
            //toDateString instanceof Date;
            $.ajax({
                    url:"NoOfLeavesTaken",
                    method:"POST",
                    data:{            
                            fromDate:fromDt,
                            toDate:toDt
                        },
                    success:function(res){
                        document.getElementById('LeaveCountDisplay').value = res
                        if(res==1){
                            document.getElementById('1DayLeaveType').style.display = "table-row";
                            
                        }
                        else{
                            document.getElementById('1DayLeaveType').style.display = "none";
                        }
                        
                        $.ajax({
                            url: "IncrementDate",
                            method:"POST",
                            data:
                            {                                
                                toDate:toDt
                            },
                            success:function(res)
                            {                               
                                document.getElementById('ReturnToDate').value = res
                                
                            },
                            fail:function(res)
                            {
                
                            },
                        })
                    },
                    failure:function(res){

                    },
                })                        
                //2nd ajax call ends here
        }


        
    }

    function CancelApplyLeaves(){
        window.location = "EmployeeDashboard"
    }

    function SubmitLeaveReq(){
        let fromDateDatePicker = $("#FromDate").datepicker('getDate')
        let toDateDatePicker = $("#ToDate").datepicker('getDate')

        let fromDt = document.getElementById('FromDate').value
        let toDt = document.getElementById('ToDate').value
        let leaveReason = document.getElementById('LeaveReason').value
        let availableLeaveBalance = document.getElementById('AvailableBalance').value
        let noOfLeavesApplied = document.getElementById('LeaveCountDisplay').value
        let returnToDate = document.getElementById('ReturnToDate').value
        let leaveType = document.getElementById('LeaveType').value
        let empId = empDetails.empID
        if(fromDateDatePicker!=null && toDateDatePicker!=null && leaveReason!="Select Type" && availableLeaveBalance!=null && returnToDate!=null && leaveType!=null && leaveReason!=null)
        {           
            $.ajax({
                url:"SubmitLeaveRequest",
                method:"POST",
                data:{
                    leaveType:leaveType,
                    leaveReason:leaveReason,
                    fromDt:fromDt,
                    toDt:toDt,
                    empId:empId
                    
                },
                success:function(res){
                    alert(res)
                    window.location='EmployeeDashboard'
                },
                failure:function(res){
                
                },          
            })
        }  
        else{
            alert("Pleae fill all Leave application details before clicking on apply!")
        }
    }
    
</script>



